html,
body {
  display: flex;
  flex-direction: column;
  min-width: 270px;
  overflow-x: hidden;
}

#menu_icon {
  display: none;
}

@media screen and (max-width: 520px) {
  #menu_container * {
    display: none;
  }

  div#menu_icon {
    display: flex;
  }

  .menu.responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.menu.responsive #menu_container * {
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 0px;
  justify-content: space-between;
  background-color: var(--background);
}

#menu_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: var(--mono);
  min-width: 75px;
  border-radius: 5px;
  color: var(--foreground);
  margin-bottom: 5px;
}

.menu_btn .menu_btn_title {
  margin: 5px;
  font-size: 0.8rem;
}

#file-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.menu_btn:hover {
  background-color: var(--orange);
  color: var(--background);
}

.CodeMirror.cm-s-dracula {
  overflow: hidden;
  resize: vertical;
  font-family: var(--mono);
  font-size: large;
  height: 100%;
  cursor: text;
}

pre.CodeMirror-placeholder.CodeMirror-line-like {
  color: var(--comment) !important;
}

#codeeditor {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--foreground);
  max-width: 1200px;
  width: 95%;
  margin: auto;
  height: 62vh;
}

#codeeditor #codeeditor_header {
  display: flex;
  flex-direction: column;
  color: var(--orange);
  background-color: var(--current-line);
  justify-content: space-between;
}

#tabs_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background-color: var(--current-line);
  overflow-y: auto;
}

#tabs_container .tab,
.tab_c {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--foreground);
  background-color: var(--comment);
  margin-left: 2px;
  border-radius: 5px 5px 0px 0px;
  font-family: var(--mono);
  cursor: pointer;
}

.tab *,
tab_c * {
  margin: 2px;
}

#tabs_container .tab:hover,
#tabs_container #new_tab:hover {
  opacity: 0.8;
}

#tabs_container .material-icons.close:hover {
  color: var(--red);
}

#tabs_container .tab.active,
.tab:focus {
  color: var(--foreground);
  border-bottom: 2px solid var(--orange);
}

#tabs_container #new_tab {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--foreground);
  margin-left: 2px;
  border-radius: 5px 5px 0px 0px;
  font-family: var(--mono);
  cursor: pointer;
  background-color: var(--comment);

}

#posicao,
#title {
  color: var(--orange);
  font-family: var(--mono);
  font-size: 14px;
  padding: 5px;
  font-weight: bold;
}

#console {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--foreground);
  min-height: 100px;
  max-width: 1200px;
  width: 95%;

  margin: 20px auto auto auto;
}

#console legend {
  background-color: var(--orange);
  font-family: var(--mono);
  font-size: 13px;
  padding: 5px 10px;
  font-weight: bold;
}

#console #limpar {
  cursor: pointer;
  background-color: var(--orange);
  color: var(--background);
  font-family: var(--mono);
  padding: 5px 10px;
  font-weight: bold;
}

#console #limpar:hover {
  opacity: .8;
}



#console textarea {
  color: var(--foreground);
  font-family: var(--mono);
  background: var(--current-line);
  font-size: 14px;
  border: none;
  text-decoration: none;
  resize: none;
}