html,
body {
  height: 100%;
  width: 100%;
  min-width: 270px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#menu_icon {
  display: none;
}

@media screen and (max-width: 460px) {
  #menu_container * {
    display: none;
  }
  div#menu_icon {
    display: flex;
  }
  .menu.responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.menu.responsive #menu_container * {
  display: flex;
  transition: 0.5s;
}

.menu {
  display: flex;
  align-items: center;
  width: 95%;
  margin: auto;
  justify-content: space-between;
}

#menu_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 2px;
  padding: 2px;
  font-family: monospace;
  min-width: 75px;
  border-radius: 5px;
  color: white;
}

#file-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.menu_btn:hover {
  background-color: rgba(255, 184, 108, 1);
  color: #000;
}

.CodeMirror {
  resize: vertical;
  overflow: hidden !important;
  font-family: monospace;
  font-size: large;
}

#codeeditor {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(248, 248, 242, 1) !important;
  max-width: 1200px;
  width: 95%;
  margin: auto;
}

#codeeditor #codeeditor_header {
  display: flex;
  align-items: center;
  background-color: rgba(255, 184, 108, 1) !important;
  justify-content: space-between;
}
#codeeditor #codeeditor_header legend {
  font-family: monospace;
  color: #000;
  font-size: 14px;
  padding: 5px;
  font-weight: bold;
}

#console {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(248, 248, 242, 1) !important;
  min-height: 100px;
  max-width: 1200px;
  width: 95%;

  margin: 20px auto auto auto;
}

#console legend {
  background-color: rgba(255, 184, 108, 1) !important;
  font-family: monospace;
  font-size: 14px;
  padding: 5px 10px;
  font-weight: bold;
}

#console textarea {
  color: white;
  font-family: monospace;
  font-size: 14px;
  border: none;
  text-decoration: none;
  resize: none;
}

#logo {
  width: 50px;
  height: 50px;
  margin: 0px 10px 0px 10px;
  font-family: monospace;
}
